@import url(https://fonts.googleapis.com/css?family=Roboto|Montserrat);
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  border: none;
  scroll-behavior: smooth; 

}


:root {
  --primary-color: #FAF3E0;
  --secondary-color: #00ffd5;
  --tertiary-color:#1c1c1c;
  --secondary-text-color: #1c1c1c;
  --pane-padding: 5px 42px;
}

body {
  background: #f2f2f2;;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 10px;
  color: inherit;
}

 
::-webkit-scrollbar-thumb {
 background: rgba(153, 153, 154, 0.5);
border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
 
  cursor: grab;

}


nav {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size:15px;
  font-weight: 600;
  gap: 1.5rem; 
  padding-right: 4vw;
  background: transparent;
  height: 5vh;
  color: var(--secondary-text-color);
  counter-reset: css-counter 0
}

nav >div {
  cursor: pointer;
  background: initial;
  counter-increment: css-counter 1;
}

nav>div:last-child {
  padding: .5rem 1rem;
  border-radius: 2px;
  color: var(--tertiary-color);
  background: var(--secondary-color);
}

nav>div:last-child:hover {
  color:  var(--secondary-color);
  background: var(--tertiary-color);
  border-color:var(--tertiary-color);
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-left: 4vw; 
  height: 90vh;
  z-index: 1;
  position: relative;
}

.container {
  position: relative;
  width: 92vw;
  height: 90vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background:  var(--tertiary-color);
  backdrop-filter: blur(10px);
  color: #f8f8f8;
 
}

.side-panel {
  width: 4vw;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-text {
  position: relative;
  letter-spacing: 1.25;
  color: var(--secondary-text-color);
}
.email-text::before {
  content: "";
  position: absolute;
  top: -105%;
  left: 50%;
  width: 1px;
  height: 95%;
  background-image: linear-gradient(to right, #48a14d, #384349);
}
.email-text::after {
  content: "";
  position: absolute;
  top: 105%;
  left: 50%;
  width: 1px;
  height: 95%;
  background-image: linear-gradient(to left, #48a14d, #384349);
}

footer {
  position: relative;
  z-index: 1;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--secondary-text-color);
  font-size: 15px;
  font-weight: 900;
}

section {
  scroll-snap-align: start;
  width: 100%;
  padding: 1rem 5rem;
}

.slide-heading {
  position: relative;
  text-align: right;
  font-size: 45px;
  font-weight: 900;
}

.slide-heading::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, var(--primary-color),  var(--secondary-color));
}

.slide-content {
  padding-top: 4rem;
  display: flex;
}

.slide-content-one {
  gap: 10rem;
  font-size: 20px;
  font-weight: 400;
}
.slide-content-two {
  gap: 10rem;
  font-size: 20px;
  font-weight: 400;
}

.tiles-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
}

.tiles {
  display:flex;
  justify-content: center;
  align-items: flex-start;
  color:  var(--secondary-color);
  border:1px solid var(--secondary-color);
  border-radius:2px;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 16px;
  backdrop-filter: blur(105px);
}

.active-tile {
  color: var(--tertiary-color);
  background-color:  var(--secondary-color);
}

.intro {
  line-height: 1.75;
  font-family: "Montserrat";
}

.intro-img {
  position: relative;
  box-sizing:border-box;
  height: fit-content;
  width: fit-content;
}

.svg-glyph {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.svg-glyph:hover {
  color: var(--primary-color);
}

.tiles-content-wrapper {
  position: relative;
  height: 100%;
}

.tiles-content-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left:-5rem;
    height: 100%;
    width: 1px;
    background-image: linear-gradient(to bottom, var(--primary-color),  var(--secondary-color),var(--primary-color));;
  
}

.tiles-content {
  display:none;
}

.tiles-content-active {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:1.5rem;
}

.org-heading {
  font-size:2rem;
  font-weight: 500;
}

.org-work-list {
  font-size: 1rem;
}

li {
  margin-bottom: .75rem;
}

.banner {
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 900;
  padding: 5rem 10rem;
}

.work-timeline {
  padding-left: 30px;
  border-left:2px solid #00ffd5;
  height:100%;
  justify-content: center;
  align-items: center;
}

.work-timeline-step {
  padding: 20px;
}

.work-timeline-step-desc {

}


@media screen and (max-width: 768px) {
  html {
    height: 100vh;
  }
  nav{
      height: 5vh;
      justify-content: flex-start;
      align-items: center;
      gap:1.25rem;
      padding-left: 1.5rem;
      z-index: 1;
   
  }
  nav>div:last-child {
    display: none;
  }
  .wrapper {
    margin-left: 0;
    height: 91vh;
    z-index: 1;
  }
  .container {
    width: 100%;
  }
  section {
    padding: 1rem 1.5rem;
  }
  .slide-heading {
    font-size: 2rem;
  }
  .slide-content-one {
    gap: 1rem;
   flex-direction: column-reverse;
   font-size: 1rem;
  }
  .slide-content-two {
    flex-direction: column;
    font-size: 1rem;
    gap:2rem;
  }
  .side-panel{
    display: none;
  }
  .org-heading {
    font-size: 1.5rem;
  }
  .tiles-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap:0.75rem
  }
  .tiles-content-wrapper {
    padding-left: 1rem;
  }
  footer {
    height: 4vh;
    font-size: 1rem;
    gap:1.25rem;
    z-index: 1;
  }
  .banner {
    padding: 5rem 2rem;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  nav>div:not(:last-child):before {
    content: counter(css-counter) ". ";
    color: 	var( --tertiary-color);
    padding-right: .1rem;
  }
  .intro-img::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 10px;
    left: 10px;
    border: 5px solid var(--secondary-color);
    transition: top .5s ease-out,left .5s ease-out;
  }
  .intro-img:hover:before {
    
    top: 0;
    left: 0;
   
  }
  section {
    height: 100%;
  }

  .slide-content-one {
    justify-content: center;
    align-items: center;
  }
}